body{
    background-color: white;
    text-align: 10px;
}
header{
    background-color: white;
    color: black;
    padding: 10px;
}
.livros-lista{
    width:auto;
}
.book-list{
    background: pink;
    padding: 15px;
    margin: 15px;
    width: auto;
} 
.container{
    display: flex;
    gap: 5px;
}
